* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0px;
}

window#waybar {}

tooltip {
    background: @theme_unfocused_base_color;
    color: @theme_text_color;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px 2px;
    border-radius: 7px;
    color: @theme_text_color;
    animation: gradient_f 2s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active {
    color: @accent_color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    color: @accent_color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.urgent {
    color: @red_1;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#power-profiles-daemon,
#custom-gpu-usage,
#cpu,
#memory,
#custom-power,
#clock,
/* #workspaces, */
#window,
#custom-updates,
#network,
#bluetooth,
#pulseaudio,
#custom-wallchange,
#custom-mode,
#tray {
    color: @theme_text_color;
    background: shade(alpha(@theme_text_colors, 0.9), 1.25);
    opacity: 1;
    margin: 6px;
}

#battery {
    color: @green_1;
}

/* resource monitor block */

#cpu {}

#memory {
    border-left-width: 0px;
}

#custom-gpu-usage {
    border-left-width: 0px;
}

/* date time block */
#clock {
    color: @yellow_1;
}

/* workspace window block */
#workspaces {
    border-radius: 10px;
    padding: 0px 6px;
    margin: 6px;
    background: mix(@theme_unfocused_base_color, white, 0.1);
}

#power-profiles-daemon.performance {
    color: @orange_1;
}

#power-profiles-daemon.power-saver {
    color: @green_1;
}

#power-profiles-daemon.balanced {
    color: @blue_1;
    padding: 0px 8px 0px 0px;
    /* because icon for this is weird and a bit too much right so +2px padding for right and -2px 
    for left for whole waybar is 4px left and right */
}

/* control center block */
#custom-updates {}

#network {
    color: @purple_1;
}

#language {
    color: @orange_1;
}

#bluetooth {
    color: @blue_1;
}

#pulseaudio {
    color: @red_1;
}

#pulseaudio.microphone {
    color: @red_1;
}


/* system tray block */
#custom-mode {}

#custom-logo {
    color: @blue_1;
    font-size: 18px;
    margin-left: 3px;
}

#tray {}